<div>
    <form>
        <div class = "container">

            <label for = "Dirección"><b> Dirección de Hotel</b></label>
            <input type = "text" placeholder="Ingrese la dirección" >

            <label for = "Departamento"><b>Departamento </b></label>
            <input type = "text" placeholder="Ingrese el departamento">

            <label for = "Pais"><b>Departamento </b></label>
            <input type = "text" placeholder="Ingrese el País">

            <label for = "correo"><b>Correo Electronico</b></label>
            <input type = "text" placeholder="Ingrese el correo electronico" >

            <label for = "Instagram"><b>Instagram</b></label>
            <input type = "text" placeholder="Ingrese Instagram">

            <label for = "Facebook"><b>Facebook </b></label>
            <input type = "text" placeholder="Ingrese Facebook">

            <label for = "Otra"><b>Otra red social </b></label>
            <input type = "text" placeholder="Ingrese red social">
            

        </div>
    </form>
</div>